
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
*.class
*.iml
*.ipr
*.iws
*.log
.DS_Store
.DS_store
.apt_generated
.classpath
.factorypath
.gradle
.idea
.nb-gradle/
.project
.scannerwork
.settings
.springBeans
/bin/
/build/
/classes/
/out
/out/
/src/main/generated/
applicationinsights-agent-*.jar
bin/generated-sources/
bin/main/application.yml
bin/main/uk/
bin/test/
build/
dist/
gradelcache
nbbuild/
nbdist/
nbproject/private/
secret/**
