apiVersion: v2
appVersion: "1.0"
description: A Helm chart for juror-api App
name: juror-api
home: https://github.com/hmcts/juror-api
version: 0.0.8
maintainers:
  - name: HMCTS juror team
dependencies:
  - name: java
    version: 5.2.1
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
  - name: postgresql
    version: 1.0.2
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: postgresql.enabled
