java:
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  devmemoryRequests: "2048Mi"
  devcpuRequests: "500m"
  devmemoryLimits: "4096Mi"
  devcpuLimits: "3000m"
  keyVaults:
    juror:
      secrets:
        - name: AppInsightsInstrumentationKey
          alias: azure.application-insights.instrumentation-key
        - name: app-insights-connection-string
          alias: app-insights-connection-string
        - name: api-JWT-SECRET-BUREAU
          alias: JWT_SECRET_BUREAU
        - name: api-JWT-SECRET-PUBLIC
          alias: JWT_SECRET_PUBLIC
        - name: api-JWT-SECRET-ER-PORTAL
          alias: JWT_SECRET_ER_PORTAL
        - name: api-JWT-SECRET-HMAC
          alias: JWT_SECRET_HMAC
        - name: api-NOTIFY-KEY
          alias: NOTIFY_KEY
        - name: api-NOTIFY-REGION-KEY-1
          alias: NOTIFY_REGION_KEY_1
        - name: api-NOTIFY-REGION-KEY-2
          alias: NOTIFY_REGION_KEY_2
        - name: api-NOTIFY-REGION-KEY-3
          alias: NOTIFY_REGION_KEY_3
        - name: api-NOTIFY-REGION-KEY-4
          alias: NOTIFY_REGION_KEY_4
        - name: api-NOTIFY-REGION-KEY-5
          alias: NOTIFY_REGION_KEY_5
        - name: api-NOTIFY-REGION-KEY-6
          alias: NOTIFY_REGION_KEY_6
        - name: api-NOTIFY-REGION-KEY-7
          alias: NOTIFY_REGION_KEY_7
        - name: scheduler-api-SECRET
          alias: SCHEDULER_SERVICE_SECRET
        - name: api-SMART-SURVEY-TOKEN
          alias: SMART_SURVEY_TOKEN
        - name: api-SMART-SURVEY-SECRET
          alias: SMART_SURVEY_SECRET
        - name: pnc-SECRET
          alias: PNC_CHECK_SERVICE_SECRET
  environment:
    RUN_DB_MIGRATION_ON_STARTUP: true
    DB_URL: "jdbc:postgresql://juror-dev.postgres.database.azure.com:5432/pr-${CHANGE_ID}-juror-api"
    DB_USERNAME: "hmcts"
    SCHEDULER_SERVICE_HOST: juror-scheduler-api.staging.platform.hmcts.net
    PNC_CHECK_SERVICE_HOST: juror-pnc.staging.platform.hmcts.net
  secrets:
    DB_PASSWORD:
      secretRef: "postgres"
      key: PASSWORD
      disabled: false
postgresql:
  enabled: true
  flexibleserver: "juror-dev"
  setup:
    databases:
      - name: "pr-${CHANGE_ID}-juror-api"
