name: Template CI

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '17'
          cache: 'gradle'
      - name: Build
        run: ./gradlew check
        env:
          JWT_SECRET_BUREAU: 'W3N1cGVyLXNlY3JldC1rZXktYnVyZWF1XVtzdXBlci1zZWNyZXQta2V5LWJ1cmVhdV1bc3VwZXItc2VjcmV0LWtleS1idXJlYXVd'
          JWT_SECRET_PUBLIC: 'W3N1cGVyLXNlY3JldC1rZXldW3N1cGVyLXNlY3JldC1rZXldW3N1cGVyLXNlY3JldC1rZXld'
          JWT_SECRET_HMAC: 'W3N1cGVyLXNlY3JldC1rZXktbG9naW5dW3N1cGVyLXNlY3JldC1rZXktbG9naW5dW3N1cGVyLXNlY3JldC1rZXktbG9naW5d'
          SCHEDULER_SERVICE_SECRET: 'WW91clZlcnlWZXJ5VmVyeVNlY3JldEtleVRoYXRJc1NvU2VjcmV0SURvbnRFdmVuS25vd0l0'
          PNC_CHECK_SERVICE_SECRET: 'WW91clZlcnlWZXJ5VmVyeVNlY3JldEtleVRoYXRJc1NvU2VjcmV0SURvbnRFdmVuS25vd0l0'
          SCHEDULER_SERVICE_SUBJECT: 'external-api@juror-scheduler-api.hmcts.net'
          SCHEDULER_SERVICE_HOST: 'juror-scheduler-api.staging.platform.hmcts.net'
          SCHEDULER_SERVICE_PORT: '443'
          PNC_CHECK_SERVICE_SUBJECT: 'juror-back-end'
          PNC_CHECK_SERVICE_HOST: 'juror-scheduler-execution.staging.platform.hmcts.net'
          PNC_CHECK_SERVICE_PORT: '443'
